body {
    background-color: #2C3E50;
    font-family: 'Nunito', sans-serif;
}

footer {
    max-width: 1400px;
    margin: auto;
    color: white;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    background-color: #2980B9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
}

.btn:hover {
    background-color: #2f81b8;
    box-shadow: 0 0 10px rgba(3, 18, 59, 0.37);
    cursor: pointer;
}